<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="VT.BLL.Properties.Settings.VTConnectionString" connectionString="Data Source=125.64.14.119;Initial Catalog=VT;User ID=sa;Password=Abcd1234" providerName="System.Data.SqlClient" />
        <add name="VTEntities" connectionString="metadata=res://*/VT.csdl|res://*/VT.ssdl|res://*/VT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=125.64.14.119;initial catalog=VT;persist security info=True;user id=sa;password=Abcd1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0"><assemblies><add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies></compilation>
        <httpRuntime maxRequestLength="51200" requestValidationMode="2.0" />
        <httpHandlers>
            <add validate="false" type="VT.Web.Services.GetLocationsHandler" path="*/handler/location" verb="GET" />
        </httpHandlers>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    </system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <handlers>
            <add name="JSON REQUEST" path="*.json" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="bitness64" />
        </handlers>
    </system.webServer>
</configuration>
