<?xml version="1.0"?>
<configuration>
    <!-- Register a section handler for the log4net section -->
    <configSections>
        <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    </configSections>
    <connectionStrings>
        <add name="Vehicle_Tracking_Master_ConnectionString" connectionString="Data Source=125.64.14.119;Initial Catalog=Vehicle_Tracking_Master;Persist Security Info=True;User ID=sa;Password=Abcd1234"/>
    </connectionStrings>
    <appSettings>
        <add key="EphemerisPath" value="D:\ephemeris.ee"/>
    </appSettings>
    <log4net>
        <!-- Define some output appenders -->
        <appender name="VT_DCM_WindowsService_Appender" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="vt.dcm.log" />
            <param name="AppendToFile" value="true" />
            <!--混合使用日期和文件大小变换日志文件名-->
            <rollingStyle value="Composite"/>
            <!--日期的格式-->
            <datePattern value=".yyyyMMdd"/>
            <!--最大变换数量,-1为不限制-->
            <maxSizeRollBackups value="-1"/>
            <!--最大文件大小-->
            <maximumFileSize value="10MB"/>
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
            </layout>
        </appender>

        <!-- Setup the root category, add the appenders and set the default level -->
        <root>
            <level value="ALL"/>
            <appender-ref ref="VT_DCM_WindowsService_Appender"/>
        </root>
        <!-- Specify the level for some specific categories -->
        <!--
        <logger name="VT.DCM.WindowsService">
            <level value="Debug" />
            <appender-ref ref="VT_DCM_WindowsService_Appender" />
        </logger>
        <logger name="VT.Common">
            <level value="Debug" />
            <appender-ref ref="VT_DCM_WindowsService_Appender" />
        </logger>
        <logger name="VT.DAL">
            <level value="Debug" />
            <appender-ref ref="VT_DCM_WindowsService_Appender" />
        </logger>
        <logger name="VT.Model">
            <level value="Debug" />
            <appender-ref ref="VT_DCM_WindowsService_Appender" />
        </logger>
        -->
    </log4net>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
</configuration>